.header-contacts {
	@media (max-width: calc($tablet - 0.5px)) {
		display: none;
	}

	@extend %list;
	@extend %header;
	flex-direction: column;
	margin-left: auto;

	@media screen and (min-width: calc($desktop - 0.5px)) {
		flex-direction: row;
	}

	&__item {
		@extend %header-item;
		@media screen and (max-width: calc($desktop - 0.5px)) {
			margin: 0;

			&:last-child {
				@media screen and (max-width: calc($desktop - 0.5px)) {
					margin-top: 10px;
				}
			}
		}
	}

	&__link {
		@extend %link;
		@extend %header-link;
		color: $text-color;
		@media screen and (max-width: calc($desktop - 0.5px)) {
			padding: 0;
			margin: 0;
		}

		&:hover,
		&:focus {
			@extend %link-hover;
		}
	}

	&__icon {
		margin-right: 10px;
		fill: currentColor;
	}
}

.footer-contacts {
	@media screen and (max-width: calc($desktop - 0.5px)) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	@media screen and (min-width: calc($tablet - 0.5px)) {
		margin-right: 165px;
	}

	@media screen and (min-width: calc($desktop - 0.5px)) {
		margin-right: 70px;
	}
}

.address {
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;

	&__text {
		@extend %link;
		@extend %title;
		display: block;
		color: $main-light-color;
		@include transition(color, null, null);

		@media screen and (min-width: calc($desktop - 0.5px)) {
			text-align: left;
		}

		&:hover,
		&:focus {
			@extend %link-hover;
		}
	}

	&__list {
		@extend %list;
	}

	&__item {
		text-align: center;
		margin-top: 8px;

		@media screen and (min-width: calc($desktop - 0.5px)) {
			text-align: left;
			margin-top: 9px;
		}
	}

	&__link {
		@extend %link;
		color: $main-light-color-transparency-06;
		@include transition(color, null, null);

		&:hover,
		&:focus {
			@extend %link-hover;
		}
	}
}

.join__social-link {
	@extend %flex-condition;
	@extend %social-link;
	fill: $main-light-color;
	background-color: $main-light-color-transparency-01;
	@include transition(background-color, null, null);

	&:hover,
	&:focus {
		background-color: $accent-color;
	}
}
