.footer {
	display: block;
	background-color: $footer-bgr-color;
	padding-top: 60px;
	padding-bottom: 60px;
	width: 100%;

	&-wrapper {
		@media screen and (max-width: calc($desktop - 0.5px)) {
			display: flex;
			flex-direction: column;
		}

		@media screen and (min-width: calc($desktop - 0.5px)) {
			display: flex;
			align-items: baseline;
		}
	}

	&-thumb {
		display: flex;

		@media screen and (max-width: calc($tablet - 0.5px)) {
			flex-direction: column;
		}

		@media screen and (min-width: calc($tablet - 0.5px)) {
			align-items: baseline;
			justify-content: center;
		}
	}

	&__join {
		display: block;

		@media screen and (max-width: calc($tablet - 0.5px)) {
			margin-top: 60px;
			margin-bottom: 60px;
		}

		@media screen and (min-width: calc($desktop - 0.5px)) {
			margin-left: auto;
		}
	}

	&__subscription {
		display: flex;
		flex-direction: column;

		@media screen and (min-width: calc($tablet - 0.5px)) and (max-width: calc($desktop - 0.5px)) {
			margin-top: 60px;
		}

		@media screen and (min-width: calc($desktop - 0.5px)) {
			margin-left: auto;
		}
	}

	&__join-title,
	&__subscription-title {
		@extend %title;
		display: block;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: $main-light-color;
		text-align: center;
		margin-bottom: 20px;

		@media screen and (min-width: calc($desktop - 0.5px)) {
			text-align: left;
		}
	}
}
