.header {
	background: $main-light-color;
	border-bottom: $main-border solid $secondary-border-color;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;

	&-wrapper {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.header-button {
	@media (min-width: calc($tablet - 0.5px)) {
		display: none;
	}
	display: inline-flex;
	cursor: pointer;
	border: none;
	background-color: transparent;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0;
	padding-right: 0;

	&__icon--close {
		display: none;
	}

	&.is-open .header-button__icon--close {
		display: block;
	}

	&.is-open .header-button__icon--menu {
		display: none;
	}
}

.header-menu__container {
	display: none;

	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	font-weight: 500;
	font-size: 40px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.02em;
	padding-top: 48px;
	padding-bottom: 48px;
	padding-left: 40px;

	&.is-open {
		display: block;
	}
}
