.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	background-color: $main-dark-color-transparency-02;
	@include transition(opacity, null, null);
	overflow-y: scroll;
}

.backdrop__is-hidden {
	opacity: 0;
	pointer-events: none;

	& .modal-order {
		transform: translate(-50%, -50%) scale(0);
		opacity: 0;
	}
}

.modal-order {
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: auto;
	padding: 40px;
	background-color: $main-light-color;
	box-shadow: 0px 1px 3px $main-dark-color-transparency-012, 0px 1px 1px $main-dark-color-transparency-014,
		0px 2px 1px $main-dark-color-transparency-02;
	border-radius: $main-border-radius;

	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
	@include transition(transform, opacity, null);

	@media (max-width: calc($desktop - 0.5px)) {
		transform: translate(-50%, -30%) scale(1);
	}

	@media (min-width: calc($mobile - 0.5px)) {
		max-width: 450px;
		width: 100%;
	}

	@media (min-width: calc($desktop - 0.5px)) {
		max-width: 528px;
		width: 100%;
	}

	.button-close {
		@extend %button;
		@extend %flex-condition;
		position: absolute;
		top: 8px;
		right: 8px;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: $main-light-color;
		border: $main-border solid $main-dark-color-transparency-01;
		color: $main-dark-color;
		@include transition(color, null, null);

		&__icon {
			fill: currentColor;
		}

		&:hover .button-close__icon,
		&:focus .button-close__icon {
			color: $accent-color;
		}
	}
}

.modal-form {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	&__title {
		@extend %title;
		font-size: 20px;
		line-height: 1.5;
		letter-spacing: 0.03em;
		text-align: center;
		color: $head-color;
		margin-bottom: 12px;

		@media (min-width: calc($desktop - 0.5px)) {
			line-height: 1.15;
		}
	}

	&__thumb {
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
	}

	&__label {
		font-size: 12px;
		line-height: 1.17;
		letter-spacing: 0.01em;
		color: $text-color;
		margin-bottom: 4px;
	}

	&__wrapper {
		position: relative;
	}

	&__input {
		@extend %modal-form__input;

		.modal-form__thumb:nth-child(-n + 4) & {
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 42px;
			padding-right: 12px;
		}
	}

	&__icon {
		position: absolute;
		top: 50%;
		left: 12px;
		transform: translateY(-50%);
		fill: $head-color;
		@include transition(fill, null, null);

		.modal-form__input:hover + &,
		.modal-form__input:focus + & {
			fill: $accent-color;
		}
	}

	&__thumb-feedback {
		margin-bottom: 20px;
	}

	&__feedback {
		@extend %modal-form__input;
		resize: none;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.01em;
		color: $feedback-color;
		padding: 12px 16px;
		height: 120px;

		@media (min-width: calc($desktop - 0.5px)) {
			font-size: 12px;
			line-height: 1.17;
		}
	}

	&__checkbox {
		flex-direction: row;
		margin-bottom: 30px;
	}

	&__checkbox-label {
		@extend %flex-condition;
		position: relative;
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.03em;
		color: $text-color;
		margin: 0;
		cursor: pointer;

		@media (max-width: calc($desktop - 0.5px)) {
			justify-content: left;
		}
	}

	&__checkbox-input {
		@extend %visually-hidden;
	}

	&__checkbox-icon {
		margin-right: 8px;
		width: 16px;
		height: 16px;
		border: 2px solid $head-color;
		border-radius: $main-border-radius;
		@include transition(border, null, null);
	}

	&__checkbox-input:focus + &__checkbox-icon {
		border: 2px solid $accent-color;
	}

	&__checkbox-input:checked + &__checkbox-icon {
		background-image: url(../images/check.svg);
		border-color: transparent;
		background-color: $accent-color;
		background-size: contain;
		background-origin: border-box;
		@include transition(background-color, null, null);
	}

	&__checkbox-agreement {
		font-size: 12px;
		line-height: 1.17;

		@media (min-width: calc($desktop - 0.5px)) {
			font-size: 14px;
			line-height: 1.71;
		}
	}

	&__checkbox-condition {
		@extend %link;
		color: $accent-color;
		text-decoration-line: underline;
	}

	&__button-submit {
		@extend %button;
		align-self: center;
		color: $main-light-color;
		background-color: $accent-color;
		box-shadow: 0px 4px 4px $main-dark-color-transparency-015;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.88;
		letter-spacing: 0.06em;
		padding: 10px 52px;
		@include transition(background-color, null, null);

		&:hover,
		&:focus {
			background-color: $accent-color-hover;
		}
	}
}
