.subscription-form {
	display: flex;
	flex-direction: column;

	@media (min-width: calc($tablet - 0.5px)) and (max-width: calc($desktop - 0.5px)) {
		width: 450px;
		align-self: center;
	}

	@media (min-width: calc($desktop - 0.5px)) {
		width: 570px;
		flex-direction: row;
	}

	&__input {
		font-size: 16px;
		line-height: 1.25;
		letter-spacing: 0.03em;
		color: $main-light-color-transparency-06;
		background-color: transparent;
		border: $main-border solid $main-light-color-transparency-03;
		border-radius: $main-border-radius;
		width: 100%;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 16px;
		outline: none;

		@media (max-width: calc($desktop - 0.5px)) {
			margin-bottom: 20px;
		}
	}

	&__button {
		@extend %button;
		display: flex;
		align-self: center;
		color: $main-light-color;
		background-color: $accent-color;
		box-shadow: 0px 4px 4px $main-dark-color-transparency-015;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.88;
		letter-spacing: 0.06em;
		padding: 10px 28px;

		@include transition(background-color);

		@media (max-width: calc($desktop - 0.5px)) {
			width: 200px;
		}

		@media (min-width: calc($desktop - 0.5px)) {
			margin-left: 12px;
		}

		&:hover,
		&:focus {
			background-color: $accent-color-hover;
		}
	}

	&__icon {
		align-self: center;
		margin-left: 10px;
		fill: $main-light-color;
	}
}
