.body {
	background-color: $main-light-color;
	color: $head-color;
	font-family: $main-font, $secondary-font, $default-font;
}

.body.modal-open {
	overflow: hidden;
}

.header-wrapper,
.footer-wrapper,
.hero-wrapper,
.features-wrapper,
.work-wrapper,
.team-wrapper,
.clients-wrapper,
.portfolio-wrapper {
	@extend %container;
}

.social-networks {
	@extend %list;
	@extend %flex-condition;
	gap: 10px;
}
