$main-font: Roboto;
$secondary-font: Raleway;
$default-font: sans-serif;

$head-color: #212121;
$text-color: #757575;
$accent-color: #2196f3;
$accent-color-hover: #188ce8;
$accent-color-overlay: rgba(33, 150, 243, 0.9);
$icon-color: #afb1b8;
$feedback-color: rgba(117, 117, 117, 0.5);
$gradient-color: rgba(47, 48, 58, 0.4);

$main-light-color: #ffffff;
$main-light-color-transparency-06: rgba(255, 255, 255, 0.6);
$main-light-color-transparency-03: rgba(255, 255, 255, 0.3);
$main-light-color-transparency-01: rgba(255, 255, 255, 0.1);

$main-dark-color: #000000;
$main-dark-color-transparency-02: rgba(0, 0, 0, 0.2);
$main-dark-color-transparency-016: rgba(0, 0, 0, 0.16);
$main-dark-color-transparency-015: rgba(0, 0, 0, 0.15);
$main-dark-color-transparency-014: rgba(0, 0, 0, 0.14);
$main-dark-color-transparency-012: rgba(0, 0, 0, 0.12);
$main-dark-color-transparency-01: rgba(0, 0, 0, 0.1);
$main-dark-color-transparency-006: rgba(0, 0, 0, 0.06);

$footer-bgr-color: #2f303a;
$main-bgr-color: #c4c4c4;
$secondary-bgr-color: #f5f4fa;
$third-bgc-color: rgba(47, 48, 58, 0.8);

$main-border-color: #eeeeee;
$secondary-border-color: #ececec;
$third-border-color: rgba(33, 33, 33, 0.2);

$block-margin: 30px;
$section-margin: 60px;
$header-margin: 50px;
$main-border: 1px;
$main-border-radius: 4px;

$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$timing: 250ms;
