.features {
	@extend %list;

	@media (max-width: calc($desktop - 0.5px)) {
		margin-bottom: calc(-1 * $block-margin);
	}

	@media (min-width: calc($tablet - 0.5px)) {
		display: flex;
		flex-wrap: wrap;
		margin-right: calc(-1 * $block-margin);
	}

	&__item {
		margin-bottom: $block-margin;

		@media (min-width: calc($tablet - 0.5px)) {
			width: calc(100% / 2 - $block-margin);
			margin-right: $block-margin;
		}

		@media (min-width: calc($desktop - 0.5px)) {
			width: calc(100% / 4 - $block-margin);
			margin-right: $block-margin;
			margin-bottom: 0;
		}
	}

	&__icon {
		@extend %flex-condition;
		height: 120px;
		background-color: $secondary-bgr-color;
		border-radius: $main-border-radius;
		margin-bottom: $block-margin;
	}

	&__title {
		@extend %title;

		@media (max-width: calc($tablet - 0.5px)) {
			text-align: center;
		}

		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		text-transform: uppercase;
		letter-spacing: 0.03em;
		margin-bottom: 10px;
	}

	&__text {
		@extend %title;
		color: $text-color;
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.03em;
	}
}
