.team {
	@extend %list;
	text-align: center;
	margin-top: $header-margin;

	@media screen and (max-width: calc($desktop - 0.5px)) {
		margin-bottom: calc(-1 * $block-margin);
	}

	@media screen and (min-width: calc($tablet - 0.5px)) {
		display: flex;
		flex-wrap: wrap;
		margin-right: calc(-1 * $block-margin);
	}

	&__item {
		background: $main-light-color;
		box-shadow: 0px 1px 3px $main-dark-color-transparency-012, 0px 1px 1px $main-dark-color-transparency-014,
			0px 2px 1px $main-dark-color-transparency-02;
		border-radius: 0px 0px 4px 4px;
		margin-bottom: $block-margin;

		@media screen and (min-width: calc($tablet - 0.5px)) {
			width: calc(100% / 2 - $block-margin);
			margin-right: $block-margin;
		}

		@media screen and (min-width: calc($desktop - 0.5px)) {
			width: calc(100% / 4 - $block-margin);
			margin-right: $block-margin;
			margin-bottom: 0;
		}
	}

	&__icon {
		@extend %icon-condition;
	}
}

.member {
	padding-top: $block-margin;
	padding-bottom: $block-margin;

	&__title {
		@extend %title;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.19;
		letter-spacing: 0.03em;
		margin-bottom: 10px;
	}

	&__position {
		@extend %title;
		color: $text-color;
		line-height: 1.19;
		letter-spacing: 0.03em;
		margin-bottom: 16px;
	}

	&__social-link {
		@extend %flex-condition;
		@extend %social-link;
		fill: $icon-color;
		@include transition(fill, background-color, null);

		&:hover,
		&:focus {
			background-color: $accent-color;
			fill: $main-light-color;
		}
	}
}
